1. List
2. Dictionary
3. Tuple
4. Set

In [12]:
a = [1,"Preet","TRUE",22 ]

Accessing list element using index

In [8]:
a[0]

1

In [35]:
a[0:]

[1, 'Preet', 'TRUE', 22]

In [13]:
a[-1]

22

List slicing

In [66]:
a = [10, 20, 30, 40, 50]

# Get a slice of the list from index 1 to 3
print(a[1:4])

[20, 30, 40]

In [32]:
a[-2:]

['TRUE', 22]

Solving some problems for LIST

In [53]:
a = [1,2,3,4,5,6,7]

1. Square of all numbers
2. Even number
3. Odd number

In [55]:
for i in a:
    print(i**2)

1
4
9
16
25
36
49

In [61]:
sqaure=[]
odd=[]
even=[]

for i in a:
    sqaure.append(i**2)
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("Sqaure of all the numebr is",sqaure)
print("Odd of all the numebr is",odd)
print("Even of all the numebr is", even)

Sqaure of all the numebr is [1, 4, 9, 16, 25, 36, 49]
Odd of all the numebr is [1, 3, 5, 7]
Even of all the numebr is [2, 4, 6]

Using list comprehension

 ==> output | for loop   |  condition

In [64]:
a = [1,2,3,4,5,6,7]
[i for i in a if i%2==0 ]

[2, 4, 6]

In [65]:
[i for i in a if i%2!=0]

[1, 3, 5, 7]

In [57]:
for i in a:
    if i%2!=0:
        print(i)

1
3
5
7

In [43]:
a**3

8

Replace an element using index

In [67]:
a = [10, 20, 30, 40]

In [69]:
a[2]=100

In [70]:
a

[10, 20, 100, 40]

In [75]:
a = [10, 20, 30, 40, 50]
a[1:4]= ["A","B","C"]

In [76]:
a

[10, 'A', 'B', 'C', 50]

Replacing elemmtnts by list comprehension

====> output | for loop | condition

In [78]:
a = [1,2,3,4,5,6,7]

[i**2 if i%2==0 else i for i in a]

[1, 4, 3, 16, 5, 36, 7]

In [79]:
a=["Preet","Rohan","Nishant"]

In [90]:
a = [10, 15, 20, 25]

#Adding 5 to odd numbers
for i, x in enumerate(a):
    if x % 2 != 0:
        a[i] += 5

[10, 20, 20, 30]

In [95]:
a = [10, 15, 20, 25]
a[1]-=2

[10, 13, 20, 25]

In [4]:
import pandas as pd
df= pd.DataFrame({"Student_Roll_no":[1,2,3,4],
                 "Student_name":["Preet","Rohan","Tarak","akjfbajid"]
                 })

In [5]:
df

   Student_Roll_no Student_name
0                1        Preet
1                2        Rohan
2                3        Tarak
3                4    akjfbajid

In [37]:
df.head(1)

   Student_Roll_no Student_name
0                1        Preet